<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="keyVaultUrl" value="KEY_VAULT_URL" />
    <add key="tenantId" value="TENANT_ID" />
    <add key="clientId" value="CLIENT_ID" />
    <add key="clientSecret" value="CLIENT_SECRET" />
  </appSettings>
</configuration>





