<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="keyVaultUrl" value="https://naveenesb.vault.azure.net/" />
    <add key="Hello" value="de6d6ed2-8af3-4ed5-9e6d-a0e6c9c8bd68" />
    <add key="clientId" value="e66b63ed-811d-4b5e-93c1-ca5d35b21e25" />
    <add key="clientSecret" value="zpvAGx17Nagm21fbS3TX_d1.9q-tv.Pbob" />
  </appSettings>
</configuration>





